/*=================================
Author: Md Saifur Rahman
Updated: 17 September, 2020
Notes: Hand Coded by Fiverr.com/saifurpro
===================================*/

/*------Start Base CSS------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  color: #000;
}

img {
  height: auto;
  max-width: 100%;
  border: none;
}

body,
html {
  height: 100%;
}

body[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

a,
a:hover {
  text-decoration: none;
}

a:focus {
  color: #000;
  text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  margin-top: 0;
}

p {
  margin-bottom: 10px;
  margin-top: 0;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.fix:before,
.fix:after {
  content: '';
  display: table;
}

.fix:after {
  clear: both;
}

/*------End Base CSS------*/

/* Start Header CSS */
.header {
  background: rgb(44, 74, 160);
  background: -moz-linear-gradient(
    45deg,
    rgba(44, 74, 160, 1) 0%,
    rgba(26, 251, 253, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(44, 74, 160, 1) 0%,
    rgba(26, 251, 253, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(44, 74, 160, 1) 0%,
    rgba(26, 251, 253, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c4aa0', endColorstr='#1afbfd', GradientType=1);
  padding: 15px 0;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
}

.main-menu li a {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  padding: 5px 10px;
  position: relative;
}

.main-menu li a:hover {
  opacity: 0.9;
}

.main-menu li a:after {
  position: absolute;
  content: '';
  right: 0px;
  top: 15px;
  width: 1px;
  height: 20px;
  background: #fff;
}

.main-menu li:first-child a:after {
  display: none;
}

.header-right {
  text-align: left;
}

.logo {
  text-align: center;
}

.logo img {
  max-width: 142px;
}

.header-right a {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  padding: 5px 10px;
  position: relative;
}

.header-right a:hover {
  opacity: 0.9;
}

.header-right a::after {
  position: absolute;
  content: '';
  right: 0;
  top: 15px;
  width: 1px;
  height: 20px;
  background: #fff;
}

.header-right a:first-child::after {
  display: none;
}

/* End Header CSS */

/* Start Category List CSS */
.single-category-item {
  width: 12%;
  padding: 0 2%;
  text-align: center;
}

.single-category-item h4 {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.category-item-wrap {
  padding: 30px 0 15px 0;
}

/* End Category List CSS */

/* Start Featured post CSS */
.featured-bg-1 {
  background-image: url('assets/img/featured-bg.jpg');
}

.featured-post-area {
  padding: 15px 0;
}

.single-featured-post {
  position: relative;
  z-index: 1;
  background-color: #333;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  width: calc(33.33% - 10px);
  margin-right: 15px;
}

.single-featured-post:last-child {
  margin-right: 0;
}
.featured-meta {
  position: absolute;
  right: 0;
  top: 0;
  background: #f7f7f7;
  padding: 2px 5px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.featured-meta a {
  display: inline-block;
  color: #000;
}

.featured-meta p {
  margin: 0;
}

.featured-post-small .single-featured-post {
  background: transparent;
  padding: 15px 0;
  width: calc(20% - 12px);
  margin-right: 15px;
}

.featured-post-small .featured-title {
  position: relative;
  background: transparent;
}

.featured-title {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.featured-title h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 5px;
  margin: 0;
}

.featured-title h3 a {
  color: #fff;
}

.featured-post-small .featured-title h3 {
  color: #000;
}

.featured-post-small .single-featured-post img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.featured-post-small .single-featured-post:last-child {
  margin-right: 0;
}

/* End Featured post CSS */

/* Cat Post Section 1 Start */
.cat-post-one {
  padding: 15px 0;
}

.cat-post-one-left-title h4 {
  background: #00c3ff;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  padding: 2px 5px;
  font-size: 22px;
  font-weight: 600;
}

.cat-post-one-left-title {
  border-bottom: 3px solid #00c3ff;
  margin-bottom: 10px;
}

.cat-post-one-left-title.color2 {
  border-color: #ff0000;
}

.cat-post-one-left-title.color2 h4 {
  background-color: #ff0000;
}

.single-cat-post-one-left a {
  color: #000;
}

.single-cat-post-one-left h4 {
  font-size: 16px;
  font-weight: 600;
}

.single-cat-post-one-left {
  position: relative;
  z-index: 1;
  padding: 20px 0;
  padding-right: 110px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 5px;
}

.single-cat-post-one-left img {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cat-post-one-right-title h4 {
  background: #000;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  padding: 2px 5px;
  font-size: 22px;
  font-weight: 600;
}

.cat-post-one-right-title {
  border-bottom: 3px solid #000;
  margin-bottom: 10px;
}

.single-cat-post-one-right tr {
  background: #e3e3e3;
}

.single-cat-post-one-right table {
  width: 100%;
}

.single-cat-post-one-right td {
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 5px 10px;
}

.single-cat-post-one-right td span {
  display: block;
  font-size: 14px;
}

.single-cat-post-one-right tr:nth-child(2n + 2) {
  background-color: #f1f1f1;
}

/* Cat Post Section 1 End */

/* Cat Post Section 2 Start */
.cat-post-two {
  padding: 15px 0;
}

.single-cat-post-two-left a {
  color: #000;
}

.single-cat-post-two-left h4 {
  font-size: 16px;
  font-weight: 600;
}

.single-cat-post-two-left {
  position: relative;
  z-index: 1;
  padding: 20px 0;
  padding-right: 110px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 5px;
}

.single-cat-post-two-left img {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cat-post-two-left-title h4 {
  background: #8a00ff;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  padding: 2px 5px;
  font-size: 22px;
  font-weight: 600;
}

.cat-post-two-left-title {
  border-bottom: 3px solid #8a00ff;
  margin-bottom: 10px;
}

.cat-post-two-right-title h4 {
  background: #ff00c0;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  padding: 2px 5px;
  font-size: 22px;
  font-weight: 600;
}

.cat-post-two-right-title {
  border-bottom: 3px solid #ff00c0;
  margin-bottom: 10px;
}

.single-cat-post-two-right img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.single-cat-post-two-title h4 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.single-cat-post-two-title a {
  color: #000;
}

/* Cat Post Section 2 End */

/* Cat Post Section 3 Start */
.cat-post-three {
  padding: 15px 0;
}

.single-cat-post-three-left a {
  color: #000;
}

.single-cat-post-three-left h4 {
  font-size: 16px;
  font-weight: 600;
}

.single-cat-post-three-left {
  position: relative;
  z-index: 1;
  padding: 20px 0;
  padding-right: 110px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 5px;
}

.single-cat-post-three-left img {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cat-post-three-left-title h4 {
  background: #deff00;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  padding: 2px 5px;
  font-size: 22px;
  font-weight: 600;
}

.cat-post-three-left-title {
  border-bottom: 3px solid #deff00;
  margin-bottom: 10px;
}

.cat-post-three-left-title.color2 h4 {
  background-color: #00ff5a;
}

.cat-post-three-left-title.color2 {
  border-bottom: 3px solid #00ff5a;
}

.cat-post-three-left-title.color3 h4 {
  background-color: #00ae8f;
}

.cat-post-three-left-title.color3 {
  border-bottom: 3px solid #00ae8f;
}

/* Cat Post Section 3 End */

/* Cat Post Section 4 Start */
.cat-post-two-right-title.color2 {
  border-bottom: 3px solid #ffae00;
}

.cat-post-two-right-title.color2 h4 {
  background-color: #ffae00;
}

.cat-post-two-left-title.color2 {
  border-color: #6d0000;
}

.cat-post-two-left-title.color2 h4 {
  background-color: #6d0000;
}

/* Cat Post Section 4 End */

/* Cat Post Section 5 Start */
.cat-post-five {
  padding: 15px 0;
}

.cat-post-two-left-title.color3 {
  border-color: #48ff00;
}

.cat-post-two-left-title.color3 h4 {
  background-color: #48ff00;
}

.single-cat-post-five-right img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.single-cat-post-five-right h4 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.single-cat-post-five-right a {
  color: #000;
}

/* Cat Post Section 5 End */

/* Footer Top POST CSS Start */
.single-footer-top-post {
  position: relative;
  z-index: 1;
  width: calc(25% - 12px);
  margin-right: 15px;
}
.single-footer-top-post:last-child {
  margin-right: 0;
}
.single-footer-top-post img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.single-footer-top-post-title {
  position: absolute;
  bottom: 0;
  background: #6d0000;
}

.single-footer-top-post-title h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 5px;
  margin: 0;
}

.footer-top-post {
  padding: 15px 0 30px;
}

.footer-top-post-title {
  border-bottom: 3px solid #fffc00;
  margin-bottom: 10px;
}

.footer-top-post-title h4 {
  background: #fffc00;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  padding: 2px 5px;
  font-size: 22px;
  font-weight: 600;
}

/* Footer Top POST CSS End */

/* Footer CSS Start */
.footer-text p {
  margin-bottom: 0;
}

.footer-text {
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.footer {
  margin-top: 15px;
}

/* Footer CSS End */

/* Mobile Menu CSS Start */
.mobile-menu img {
  max-width: 40px;
  cursor: pointer;
  padding: 5px;
}

.mobile-menu {
  display: none;
  position: relative;
  z-index: 1;
}

.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-menu li {
  display: block;
}

.mobile-menu li a {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
  border-bottom: 2px solid #ddd;
}

.mobile-menu li a:hover {
  opacity: 0.8;
}

/* Mobile Menu CSS End */

.cat-post-two-left-title.color4 {
  border-color: #0006fe;
}

.cat-post-two-left-title.color4 h4 {
  background-color: #0006fe;
}
